/* =========================
   App Layout
========================= */
.App {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;

  background-image: url("./assets/backdrop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 0.75rem;
}

/* Main body container */
.body {
  overflow: auto;
  overflow-x: hidden;

  padding: 1rem;
  width: 70%;
  max-width: 100%;
  margin: 0 auto;

  list-style-position: inside;
}

/* Responsive */
@media (max-width: 1080px) {
  .App {
    padding: 0.5rem;
  }

  .body {
    width: 100%;
    padding: 0.5rem 0rem;
  }
}
